<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelholic</title>
    <style></style>
</head>
    <script></script>
     
<body>
    <nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Contact Us</a></li>
                <!-- <li><a href="/">home</a></li> -->
        </ul>
    </nav>
</body>
</html>