<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="../static/contactstyle.css">
</head>

<body>

    <div class="next">
        <div class="logo">
            <img src="/static/logo.jpg" alt="">
        </div>
        <div class="the">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="first">
            <h1> Contact Us</h1>
            <h2>We're open for any suggestion or just to have a chat.</h2>
            <form action="/contact" , method="post" , id="class">
                <div class="container">
                    <input type="text" name="name" placeholder="Enter your name.." class="hi">
                    <input type="number" name="phone" placeholder="Enter your phone number" class="hi">
                    <input type="number" name="Age" placeholder="Enter your age" class="hi">
                    <input type="email" name="email" placeholder="Enter your email address" class="hi">
                    <input type="text" name="Address" placeholder="Enter your Address" class="hi">
                    <button>
                        <h3>Submit</h3>
                    </button>
                </div>
            </form>
        </div>
        <div class="second">
            <div class="image">
                <img src="/static/pic3.jpeg" alt="">
            </div>
        </div>
    </div>
</body>

</html>