<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelholic</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->

</head>

<body>

    <section class="first"></section>
        <div class="one">

        <div class="only">
        <div class="lala">
        
        <div class="logo">
            <img src="/static/logo.jpg" alt="">
        </div>
            <ul class="side"></ul>
                    <li class="si"><a href="/Iteneary"> <h2>Iteneary </h2></a> <h4>planning your next adventure.</h4> </li>
                    <li class="si"></li><a href="/"> <h2>Blogs</h2></a> <h4> Share your experiences.</h4>  </li>
                    <li class="si"></li><a href="/"> <h2>Where To Travel</h2></a><h4>More trips, more choices.</h4></li> 
                    <li class="si"></li><a href="/"> <h2>Tips </h2></a><h4>Everyting to know before travelling.</h4></li>
            </ul>
        
        </div>
        </div>

        <div class="onlu">
        <nav>
            <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><a href="/contact">home</a></li> -->
            </ul>
        </nav>
            <div class="title">TRAVELHOLIC</div>
            <div class="h">“You don’t have to be rich to travel well.”</div>
        </div>
        </div>
    
    </section>
    script
        include ../static/index.js

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->

</body>
</html>
