<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iteneary</title>
    <link rel="stylesheet" href="../static/Itenearystyle.css" />
    
  </head>
  <body>
    <div class="next">
      <div class="logo">
        <img src="/static/logo.jpg" alt="" />
      </div>
      <div className="the">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
        <form className="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
      </div>
    </div>
    <div class="container">
    <div class="card">
      <img src="/static/megha.jpg" alt="">
      <div class="card-txt">
        <p><h1>Meghalaya</h1></p>
        <p>Iteneary:-12,000 per head for 5N 6D.</p>
      </div>
    </div>
    <div class="card">
        <img src="/static/shimla.jpeg" alt="">
        <div class="card-txt">
          <p><h1>Shimla</h1></p>
          <p>Iteneary:-13,000 per head for 4N 5D.</p>
        </div>
    </div>
    <div class="card">
        <img src="/static/kerala.jpeg" alt="">
        <div class="card-txt">
          <p><h1>Kerala</h1></p>
          <p>Iteneary:-15,000 per head for 5N 6D.</p>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="card">
          <img src="/static/goa.jpeg" alt="">
          <div class="card-txt">
            <p><h1>Goa</h1></p>
            <p>Iteneary:-12,000 per head for 5N 6D.</p>
          </div>
        </div>
        <div class="card">
            <img src="/static/delhi.webp" alt="">
            <div class="card-txt">
              <p><h1>Delhi</h1></p>
              <p>Iteneary:-13,000 per head for 4N 5D.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/kolkata.jpeg" alt="">
            <div class="card-txt">
              <p><h1>kolkata</h1></p>
              <p>Iteneary:-15,000 per head for 5N 6D.</p>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="card">
              <img src="/static/rajasthan.jpeg" alt="">
              <div class="card-txt">
                <p><h1>Rajasthan</h1></p>
                <p>Iteneary:-12,000 per head for 5N 6D.</p>
              </div>
            </div>
            <div class="card">
                <img src="/static/ooty.jpeg" alt="">
                <div class="card-txt">
                  <p><h1>Ooty</h1></p>
                  <p>Iteneary:-13,000 per head for 4N 5D.</p>
                </div>
            </div>
            <div class="card">
                <img src="/static/agra.jpeg" alt="">
                <div class="card-txt">
                  <p><h1>Agra</h1></p>
                  <p>Iteneary:-15,000 per head for 5N 6D.</p>
                </div>
            </div>
            </div>
  </body>
</html>
